/* =============================================================================
 * main.scss
 * Author: Dillon Grove
 * 
 * This file is repsonsbile for importing all dependencies and providing main
 * styles. It is the only file ultimately included in the page
 *
 * ========================================================================== */
/* ========== IMPORTS ======================================================= */
/* line 17, ../../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* =============================================================================
 * _globals.scss
 * Author: Dillon Grove
 * 
 * Definitions for global SCSS variables. This file is included by main.scss, 
 * and is not compiled standalone.
 *
 * ========================================================================== */
/* ========== COLORS ======================================================== */
/* ========== SIZING AND LAYOUT ============================================ */
/* =============================================================================
 * _animations.scss
 * Author: Dillon Grove
 * 
 * Definitions for all animations and transitions used. This file is included by
 * main.scss, and is not compiled standalone.
 *
 * ========================================================================== */
/* ========== ANIMATION HELPERS ============================================= */
/* line 11, ../sass/_animations.scss */
.in, .out {
  -webkit-animation-timing-function: cubic-bezier(0.6, 0, 0.4, 1);
  -webkit-animation-duration: 300ms;
}

/* ========== CROSSFADE ===================================================== */
/* line 18, ../sass/_animations.scss */
.crossfade.in {
  -webkit-animation-name: crossfade-in;
  z-index: 10;
}

/* line 23, ../sass/_animations.scss */
.crossfade.out {
  z-index: 0;
}

@-webkit-keyframes crossfade-in {
  /* line 28, ../sass/_animations.scss */
  from {
    opacity: 0;
  }

  /* line 29, ../sass/_animations.scss */
  to {
    opacity: 1;
  }
}

/* ========== FADE ========================================================== */
/* line 33, ../sass/_animations.scss */
.fade.out {
  -webkit-animation-name: fade-out;
}

/* line 37, ../sass/_animations.scss */
.fade.in {
  -webkit-animation-name: fade-in;
}

@-webkit-keyframes fade-out {
  /* line 42, ../sass/_animations.scss */
  0% {
    opacity: 1;
  }

  /* line 43, ../sass/_animations.scss */
  50% {
    opacity: 0;
  }

  /* line 44, ../sass/_animations.scss */
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fade-in {
  /* line 48, ../sass/_animations.scss */
  0% {
    opacity: 0;
  }

  /* line 49, ../sass/_animations.scss */
  50% {
    opacity: 0;
  }

  /* line 50, ../sass/_animations.scss */
  100% {
    opacity: 1;
  }
}

/* ========== SLIDE ========================================================= */
/* line 55, ../sass/_animations.scss */
.push.out {
  -webkit-animation-name: outToLeft;
}

/* line 59, ../sass/_animations.scss */
.push.in {
  -webkit-animation-name: inFromRight;
}

@-webkit-keyframes outToLeft {
  /* line 64, ../sass/_animations.scss */
  from {
    -webkit-transform: translateX(0);
  }

  /* line 65, ../sass/_animations.scss */
  to {
    -webkit-transform: translateX(-100%);
  }
}

@-webkit-keyframes inFromRight {
  /* line 69, ../sass/_animations.scss */
  from {
    -webkit-transform: translateX(100%);
  }

  /* line 70, ../sass/_animations.scss */
  to {
    -webkit-transform: translateX(0);
  }
}

@-webkit-keyframes inFromLeft {
  /* line 74, ../sass/_animations.scss */
  from {
    -webkit-transform: translateX(-100%);
  }

  /* line 75, ../sass/_animations.scss */
  to {
    -webkit-transform: translateX(0);
  }
}

/* line 78, ../sass/_animations.scss */
.push.in.reverse {
  -webkit-animation-name: inFromLeft;
}

@-webkit-keyframes outToRight {
  /* line 83, ../sass/_animations.scss */
  from {
    -webkit-transform: translateX(0%);
  }

  /* line 84, ../sass/_animations.scss */
  to {
    -webkit-transform: translateX(100%);
  }
}

/* line 87, ../sass/_animations.scss */
.push.out.reverse {
  -webkit-animation-name: outToRight;
}

/* ========== PUSH ========================================================== */
/* line 93, ../sass/_animations.scss */
.show.in {
  -webkit-animation-name: fade-in;
  -webkit-animation-duration: 400ms;
}

/*---------- BASIC STYLES --------------------------------------------------- */
/* line 20, ../sass/main.scss */
html {
  /* prevent webkit and ms mobile browsers from resizing text */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  height: 100%;
}

/* line 28, ../sass/main.scss */
body {
  font-family: "HelveticaNeue", Arial, Helvetica, sans-serif;
  height: 100%;
}

/* line 33, ../sass/main.scss */
a:link {
  /* change the tap highlight color in webkit browsers */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

/* line 39, ../sass/main.scss */
.standalone * {
  /* prevent press and hold context menus in standalone mode */
  -webkit-touch-callout: none;
}

/* line 44, ../sass/main.scss */
#tab_bar, .top_bar {
  /* prevent users from copy/pasting tab bar text in webkit browsers */
  -webkit-user-select: none;
}

/*---------- HEADERS -------------------------------------------------------- */
/* line 51, ../sass/main.scss */
h1 {
  color: white;
  font-size: 36px;
  margin-bottom: 22px;
}

/* line 57, ../sass/main.scss */
h2 {
  color: #019bc6;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 12px;
}

/*---------- FORM ELEMENTS -------------------------------------------------- */
/* line 67, ../sass/main.scss */
input[type=text], input[type=password], .button, button {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  /* remove webkit default input styling */
}
/* line 73, ../sass/main.scss */
input[type=text]:focus, input[type=password]:focus, .button:focus, button:focus {
  /* overwrite webkit default input focus outline */
  outline: 2px solid #019bc6;
  outline-offset: 1px;
}

/* line 80, ../sass/main.scss */
input[type=text], input[type=password], button, .button {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 12px;
  font-size: 14px;
  margin-bottom: 22px;
}

/* line 87, ../sass/main.scss */
input[type=text], input[type=password] {
  -webkit-box-shadow: inset 0px 2px 4px black;
  -moz-box-shadow: inset 0px 2px 4px black;
  box-shadow: inset 0px 2px 4px black;
  color: white;
  background-color: #222;
  border: 1px solid #444;
}

/* line 94, ../sass/main.scss */
input[type=checkbox] {
  margin-bottom: 22px;
  margin-right: 10px;
}

/* line 99, ../sass/main.scss */
label {
  color: #ccc;
  margin-bottom: 8px;
  width: 100%;
  display: block;
}

/* only target labels immediately following a checkbox input element */
/* line 107, ../sass/main.scss */
input[type=checkbox] + label {
  width: auto;
  display: inline;
}

/* line 112, ../sass/main.scss */
form button, form .button {
  width: 100%;
}

/* Hide the geolocation checkbox by default (We will show it with js if 
 * geolocation is detected as available on the device)
 */
/* line 119, ../sass/main.scss */
.geolocation_checkbox {
  display: none;
}

/*---------- BUTTONS -------------------------------------------------------- */
/* line 125, ../sass/main.scss */
button, .button {
  border: none;
  /* overwrite webkit default button border */
  background-color: #019bc6;
  color: white;
}
/* line 130, ../sass/main.scss */
button:active, .button:active {
  background-color: #0187ad;
}
/* line 134, ../sass/main.scss */
button:focus, .button:focus {
  /* overwrite webkit default input focus outline */
  outline: 2px solid white;
  outline-offset: 0px;
}
/* line 140, ../sass/main.scss */
button.button_create, .button.button_create {
  background-color: #008c2a;
}
/* line 143, ../sass/main.scss */
button.button_create:active, .button.button_create:active {
  background-color: #007322;
}

/*---------- TABLES --------------------------------------------------------- */
/* line 151, ../sass/main.scss */
table {
  width: 100%;
  color: #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 22px;
}

/* line 161, ../sass/main.scss */
tr:nth-child(odd) {
  background-color: #555;
}
/* line 165, ../sass/main.scss */
tr:nth-child(even) {
  background-color: #666;
}

/* line 170, ../sass/main.scss */
td {
  padding: 10px;
}

/*---------- TAB BAR -------------------------------------------------------- */
/* line 176, ../sass/main.scss */
#tab_bar {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 70px;
  background: #222222;
  border-top: 1px solid #111111;
  position: fixed;
  bottom: -200px;
  left: 0;
  right: 0;
  zoom: 1;
  /* hasLayout fix */
  z-index: 9999;
  /* force above full height panels */
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  /* force hardware acceleration */
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 192, ../sass/main.scss */
#tab_bar:before, #tab_bar:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 199, ../sass/main.scss */
#tab_bar:after {
  clear: both;
}
/* line 203, ../sass/main.scss */
#tab_bar.tab_bar_show {
  bottom: 0;
}
/* line 207, ../sass/main.scss */
#tab_bar li {
  display: inline;
  float: left;
  height: 70px;
  width: 33.33333%;
}
/* line 214, ../sass/main.scss */
#tab_bar a {
  color: #bbbbbb;
  display: block;
  font-size: 11px;
  font-weight: bold;
  height: 70px;
  overflow: hidden;
  padding-top: 6px;
  position: relative;
  text-align: center;
  text-decoration: none;
  border-right: 1px solid #333333;
  border-left: 1px solid #333333;
}
/* line 230, ../sass/main.scss */
#tab_bar .icon {
  width: 30px;
  height: 30px;
  background: url('/images/tab_bar_icons.png?1395253954');
  background-size: 90px 60px;
  display: inline-block;
  margin: 5px 0 7px 0;
  pointer-events: none;
}
/* line 239, ../sass/main.scss */
#tab_bar .icon.profile_icon {
  background-position-x: 0px;
}
/* line 243, ../sass/main.scss */
#tab_bar .icon.feed_icon {
  background-position-x: -30px;
}
/* line 247, ../sass/main.scss */
#tab_bar .icon.new_post_icon {
  background-position-x: -60px;
}
/* line 252, ../sass/main.scss */
#tab_bar .tab_selected .icon {
  background-position-y: -30px;
}
/* line 256, ../sass/main.scss */
#tab_bar li:first-child a {
  border-left: none;
}
/* line 260, ../sass/main.scss */
#tab_bar li:last-child a {
  border-right: none;
}
/* line 264, ../sass/main.scss */
#tab_bar .tab_selected a {
  color: #ffffff;
  background: #111111;
}

/*---------- PANELS --------------------------------------------------------- */
/* line 272, ../sass/main.scss */
#panels {
  height: 100%;
  position: relative;
  /* prevent momentary scrollbar when using sliding transition */
  overflow-x: hidden;
}

/* line 280, ../sass/main.scss */
#panels > div.current {
  display: block;
}

/* line 284, ../sass/main.scss */
.panel_wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
}

/* line 296, ../sass/main.scss */
.padded_content_wrapper, .content_wrapper {
  margin-top: 42px;
  padding-bottom: 70px;
}

/* line 301, ../sass/main.scss */
.padded_content_wrapper {
  padding: 20px;
  padding-bottom: 90px;
}

/*---------- PANEL-SPECIFIC STYLES ------------------------------------------ */
/* line 307, ../sass/main.scss */
#login_panel {
  text-align: center;
}
/* line 310, ../sass/main.scss */
#login_panel .app_logo {
  width: 100px;
  height: 100px;
  background: url('/images/app_logo.png?1395199139');
  background-size: 100%;
  margin-bottom: 24px;
  display: inline-block;
}

/* line 321, ../sass/main.scss */
#profile_panel .link_posts {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 22px;
}

/*---------- TOP BAR -------------------------------------------------------- */
/* line 330, ../sass/main.scss */
.top_bar {
  height: 42px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #222222;
  color: white;
}
/* line 340, ../sass/main.scss */
.top_bar h1 {
  float: left;
  padding: 13px;
  font-size: 16px;
  font-weight: bold;
}
/* line 347, ../sass/main.scss */
.top_bar .back {
  float: left;
  display: none;
  color: white;
}
/* line 352, ../sass/main.scss */
.top_bar .back span {
  margin-left: 6px;
  padding: 4px 8px;
  border: 1px solid white;
  line-height: 42px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

/* line 365, ../sass/main.scss */
.back.hasBack {
  display: block;
}
/* line 369, ../sass/main.scss */
.back .chevron {
  width: 15px;
  height: 24px;
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -12px;
  background-position: bottom left;
  background-size: 30px;
}

/*---------- LINK POSTS ----------------------------------------------------- */
/* line 383, ../sass/main.scss */
.link_post {
  background-color: white;
  padding: 4px;
  border-bottom: 1px solid #eeeeee;
  overflow: hidden;
  /* clearfix */
}

/* line 390, ../sass/main.scss */
.scoring {
  width: 20%;
  min-width: 60px;
  float: left;
  text-align: center;
}
/* line 396, ../sass/main.scss */
.scoring div {
  text-align: center;
}
/* line 400, ../sass/main.scss */
.scoring .upvote, .scoring .downvote {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('/images/arrows.png?1395204244');
  background-size: 40px 40px;
}
/* line 408, ../sass/main.scss */
.scoring .downvote {
  background-position: 0px 20px;
}
/* line 412, ../sass/main.scss */
.scoring .score {
  padding: 2px 0px 4px 0px;
  font-weight: 600;
  color: #999;
}

/* line 420, ../sass/main.scss */
.link_post.upvoted .upvote {
  background-position: 20px 0px;
}
/* line 424, ../sass/main.scss */
.link_post.upvoted .score {
  color: #019bc6;
}

/* line 430, ../sass/main.scss */
.link_post.downvoted .downvote {
  background-position: 20px 20px;
}
/* line 434, ../sass/main.scss */
.link_post.downvoted .score {
  color: #ff2300;
}

/* line 439, ../sass/main.scss */
.post_content {
  padding: 4px;
}
/* line 442, ../sass/main.scss */
.post_content h2 {
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 0px;
  font-weight: normal;
}
/* line 449, ../sass/main.scss */
.post_content .post_domain {
  color: #666;
}
/* line 453, ../sass/main.scss */
.post_content .post_info {
  font-size: 12px;
  color: #aaa;
}

/*---------- NOTIFICATIONS -------------------------------------------------- */
/* line 462, ../sass/main.scss */
.notif {
  position: fixed;
  top: -60px;
  left: 0;
  right: 0;
  z-index: 9999;
  padding: 10px 14px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  line-height: 1.3;
  /* force hardware acceleration */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 479, ../sass/main.scss */
.notif.notif_good {
  background: #008c2a;
}
/* line 483, ../sass/main.scss */
.notif.notif_bad {
  background: #ff2300;
}
/* line 487, ../sass/main.scss */
.notif.show_notif {
  top: 0px;
}

/*---------- SPINNER -------------------------------------------------------- */
/* line 494, ../sass/main.scss */
.spinner {
  position: absolute;
  display: none;
  top: 5px;
  right: 5px;
  width: 32px;
  height: 32px;
  background: url('/images/spinner.gif?1395207378');
  background-size: 100%;
}

/*---------- DISCONNECTED --------------------------------------------------- */
/* line 507, ../sass/main.scss */
.disconnected {
  position: absolute;
  display: none;
  top: 12px;
  right: 12px;
  background-color: #666;
  padding: 4px 6px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  color: #aaa;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  -webkit-transition: all 0.05s;
  -moz-transition: all 0.05s;
  -o-transition: all 0.05s;
  transition: all 0.05s;
  z-index: 9998;
  /* force above panels (but not notifications) */
}
/* line 522, ../sass/main.scss */
.disconnected.pop {
  background-color: #ff2300;
  color: white;
}
