/* =============================================================================
 * _globals.scss
 * Author: Dillon Grove
 * 
 * Definitions for global SCSS variables. This file is included by main.scss, 
 * and is not compiled standalone.
 *
 * ========================================================================== */

/* ========== COLORS ======================================================== */

$brandColor1: #019bc6;

 /* ========== SIZING AND LAYOUT ============================================ */

$numTabs: 3;
$top_bar_height: 42px;