/* =============================================================================
 * _globals.scss
 * Author: Dillon Grove
 * 
 * Definitions for global SCSS variables. This file is included by main.scss, 
 * and is not compiled standalone.
 *
 * ========================================================================== */

/* ========== COLORS ======================================================== */

$tab_bar_icon_active: #019bc6;

 /* ========== SIZING AND LAYOUT ============================================ */

$num_tabs: 3;