/* =============================================================================
 * main.scss
 * Author: Dillon Grove
 * 
 * This file is repsonsbile for importing all dependencies and providing main
 * styles. It is the only file ultimately included in the page
 *
 * ========================================================================== */

/* ========== IMPORTS ======================================================= */
@import "compass/reset";
@import "compass/css3";
@import "globals";
@import "animations";

@import "compass/utilities/general/clearfix";

/*---------- BASIC STYLES --------------------------------------------------- */

html {
    /* prevent webkit and ms mobile browsers from resizing text */
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;

    height: 100%;
}

body {
    font-family: "HelveticaNeue", Arial, Helvetica, sans-serif;
    height: 100%;
}

a:link {
    /* change the tap highlight color in webkit browsers */
    -webkit-tap-highlight-color: rgba(0,0,0,.2);
    text-decoration: none;
}

.standalone * {
    /* prevent press and hold context menus in standalone mode */
    -webkit-touch-callout: none;
}

#tab_bar, .top_bar {
    /* prevent users from copy/pasting tab bar text in webkit browsers */
    -webkit-user-select: none;
}

/*---------- TAB BAR -------------------------------------------------------- */

#tab_bar {
    background: #222222;
    border-top: 1px solid #111111;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    zoom: 1; /* hasLayout fix */
    z-index: 9999; /* force above full height panels */

    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }

    &:after {
        clear: both;
    }

    li {
        display: inline;
        float: left;
        width: 100%/$num_tabs;
    }

    a {
        color: #bbbbbb;
        display: block;
        font-size: 0.7em;
        font-weight: bold;
        height: 5.6em;
        overflow: hidden;
        padding-top: .5em;
        position: relative;
        text-align: center;
        text-decoration: none;

        border-right: 1px solid #333333;
        border-left: 1px solid #333333;
    }

    .icon {
        height: 30px;
        width: 30px;
        display: inline-block;
        margin: .4em 0 .6em 0;
        border-radius: 10px;

        background-color: #999999;

        pointer-events:none;
    }

    .tab_selected .icon {
        background-color: $tab_bar_icon_active;
    }

    li:first-child a {
        border-left: none;
    }

    li:last-child a {
        border-right: none;
    }

    .tab_selected a {
        color: #ffffff;
        background: #111111;
    }
}

/*---------- PANELS --------------------------------------------------------- */

#panels {
    height: 100%;
    position: relative;

    /* prevent momentary scrollbar when using sliding transition */
    overflow-x: hidden;
}

#panels > div.current {
    display: block;
}

.panel_wrapper {
    @include box-sizing(border-box);
    display: none;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    background-color: #e0e0e0;
}

.padded_content_wrapper {
    padding: 1.75em;
    padding-bottom: 6.5em;
    margin-top: 2.6em;  
}

.content_wrapper {
    margin-top: 2.6em;
}

/*---------- TOP BAR -------------------------------------------------------- */

.top_bar {
    height: 2.6em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    background: #222222;
    color: white;

    h1 {
        float: left;
        padding: .8em;
    }

    .back {
        color: #aaa;
        float: left;
        width: 2.6em;
        height: 2.6em;
        display: none;
        border-right: 1px solid #555;
    }

    /* only apply this left border if the h1 is directly preceded by a displayed
     * back button (one that hasBack)
     */
    .back.hasBack + h1 {
        border-left: 1px solid #222;
    }

}

.chevron {
    background-image: url("../images/chevrons.png");
}

.back {

    &.hasBack {
        display: block;
    }

    .chevron {
        width: 15px;
        height: 24px;
        position: absolute;
        left: .8em;
        top: 50%;
        margin-top: -12px;

        background-position: bottom left;
        background-size: 30px;
    }
}

/*---------- LINK POSTS ----------------------------------------------------- */
.link_post {
    background-color: white;
    padding: 4px;
    border-bottom: 1px solid #eeeeee;
    overflow: hidden; /* clearfix */
}

.scoring {
    width: 20%;
    min-width: 60px;
    float: left;
    text-align: center;

    div {
        text-align: center;
    }

    .upvote, .downvote {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-color: #eeeeee;
    }

    .score {
        padding: 4px 0px;
        font-weight: 600;
        color: #999;
    }
}

.post_content {
    padding: 4px;
    
    h2 {
        font-size: 16px;
        line-height: 18px;
    }

    .post_domain {
        color: #666;
    }

    .post_info {
        font-size: 12px;
        color: #aaa;
    }
}