/* =============================================================================
 * main.scss
 * Author: Dillon Grove
 * 
 * This file is repsonsbile for importing all dependencies and providing main
 * styles. It is the only file ultimately included in the page
 *
 * ========================================================================== */

/* ========== IMPORTS ======================================================= */
@import "compass/reset";
@import "compass/css3";
@import "globals";
@import "animations";

@import "compass/utilities/general/clearfix";

/*---------- BASIC STYLES --------------------------------------------------- */

html {
    /* prevent webkit and ms mobile browsers from resizing text */
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;

    height: 100%;
}

body {
    font-family: "HelveticaNeue", Arial, Helvetica, sans-serif;
    height: 100%;
}

a:link {
    /* change the tap highlight color in webkit browsers */
    -webkit-tap-highlight-color: rgba(0,0,0,.2);
    text-decoration: none;
}

.standalone * {
    /* prevent press and hold context menus in standalone mode */
    -webkit-touch-callout: none;
}

#tab_bar, .top_bar {
    /* prevent users from copy/pasting tab bar text in webkit browsers */
    -webkit-user-select: none;
}

/*---------- FORM ELEMENTS -------------------------------------------------- */

input, .button {
    display: block;
    width: 100%;
    @include box-sizing(border-box);
    -webkit-appearance: none; /* remove webkit default input styling */

    &:focus {
        /* overwrite webkit default input focus outline */
        outline: 2px solid $brandColor1;
        outline-offset: 1px;
    }
}

input[type=text], input[type=password], button, .button {
    @include border-radius(4px);
    padding: 12px;
    font-size: 14px;
    margin-bottom: 22px;
}

input[type=text], input[type=password] {
    @include box-shadow(inset 0px 2px 4px #000000);
    color: white;
    background-color: #222;
    border: 1px solid #444;
}

label {
    color: #ccc;
    margin-bottom: 8px;
    width: 100%;
    display: block;
}

form button, form .button {
    width: 100%;
}

/*---------- BUTTONS -------------------------------------------------------- */

button, .button {
    border: none; /* overwrite webkit default button border */
    background-color: $brandColor1;
    color: white;

    &:active {
        background-color: darken($brandColor1, 5%);
    }

    &:focus {
        /* overwrite webkit default input focus outline */
        outline: 2px solid white;
        outline-offset: 0px;
    }

    &.button_create {
        background-color: $createButtonColor;

        &:active {
            background-color: darken($createButtonColor, 5%);
        }
    }
}

/*---------- TAB BAR -------------------------------------------------------- */

#tab_bar {
    @include box-sizing(border-box);
    height: $tabBarHeight;
    background: #222222;
    border-top: 1px solid #111111;

    position: fixed;
    bottom: -200px;
    left: 0;
    right: 0;
    zoom: 1; /* hasLayout fix */
    z-index: 9999; /* force above full height panels */

    @include transform(translate3d(0,0,0)); /* force hardware acceleration */
    @include transition(all .5s);

    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }

    &:after {
        clear: both;
    }

    &.tab_bar_show {
        bottom: 0;
    }

    li {
        display: inline;
        float: left;
        height: $tabBarHeight;
        width: 100%/$numTabs;
    }

    a {
        color: #bbbbbb;
        display: block;
        font-size: 11px;
        font-weight: bold;
        height: $tabBarHeight;
        overflow: hidden;
        padding-top: 6px;
        position: relative;
        text-align: center;
        text-decoration: none;

        border-right: 1px solid #333333;
        border-left: 1px solid #333333;
    }

    .icon {
        height: 30px;
        width: 30px;
        display: inline-block;
        margin: 5px 0 7px 0;
        border-radius: 10px;

        background-color: #999999;

        pointer-events:none;
    }

    .tab_selected .icon {
        background-color: $brandColor1;
    }

    li:first-child a {
        border-left: none;
    }

    li:last-child a {
        border-right: none;
    }

    .tab_selected a {
        color: #ffffff;
        background: #111111;
    }
}

/*---------- PANELS --------------------------------------------------------- */

#panels {
    height: 100%;
    position: relative;

    /* prevent momentary scrollbar when using sliding transition */
    overflow-x: hidden;
}

#panels > div.current {
    display: block;
}

.panel_wrapper {
    @include box-sizing(border-box);
    display: none;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    background-color: #333;
}

.padded_content_wrapper, .content_wrapper {
    margin-top: $topBarHeight;
    padding-bottom: $tabBarHeight;
}

.padded_content_wrapper {
    padding: 20px; 
}

/*---------- PANEL-SPECIFIC STYLES ------------------------------------------ */
#login_panel {
    text-align: center;

    .app_logo {
        width: 80px;
        height: 80px;
        margin-bottom: 24px;
        background-color: #ccc;
        @include border-radius(8px);
        display: inline-block;
    }
}

/*---------- TOP BAR -------------------------------------------------------- */

.top_bar {
    height: $topBarHeight;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    background: #222222;
    color: white;

    h1 {
        float: left;
        padding: 13px;
        font-weight: bold;
    }

    .back {
        color: #aaa;
        float: left;
        width: 32px;
        height: 32px;
        display: none;
        border-right: 1px solid #555;
    }

    /* only apply this left border if the h1 is directly preceded by a displayed
     * back button (one that hasBack)
     */
    .back.hasBack + h1 {
        border-left: 1px solid #222;
    }

}

.chevron {
    background-image: url("../images/chevrons.png");
}

.back {

    &.hasBack {
        display: block;
    }

    .chevron {
        width: 15px;
        height: 24px;
        position: absolute;
        left: 10px; 
        top: 50%;
        margin-top: -12px;

        background-position: bottom left;
        background-size: 30px;
    }
}

/*---------- LINK POSTS ----------------------------------------------------- */
.link_post {
    background-color: white;
    padding: 4px;
    border-bottom: 1px solid #eeeeee;
    overflow: hidden; /* clearfix */
}

.scoring {
    width: 20%;
    min-width: 60px;
    float: left;
    text-align: center;

    div {
        text-align: center;
    }

    .upvote, .downvote {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-color: #eeeeee;
    }

    .score {
        padding: 4px 0px;
        font-weight: 600;
        color: #999;
    }
}

.link_post.upvoted {
    .upvote {
        background-color: orange;
    }
}

.link_post.downvoted {
    .downvote {
        background-color: red;
    }
}

.post_content {
    padding: 4px;
    
    h2 {
        font-size: 16px;
        line-height: 18px;
    }

    .post_domain {
        color: #666;
    }

    .post_info {
        font-size: 12px;
        color: #aaa;
    }
}


/*---------- NOTIFICATIONS -------------------------------------------------- */

.notif {
    position: fixed;
    top: -60px;
    left: 0;
    right: 0;
    z-index: 9999;
    padding: 10px 14px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    line-height: 1.3;

    /* force hardware acceleration */
    @include transform(translateZ(0));

    @include transition(all .5s);

    &.notif_good {
        background: $notifGoodColor;
    }

    &.notif_bad {
        background: $notifBadColor;
    }

    &.show_notif {
        top: 0px;
    }
}