/* =============================================================================
 * main.scss
 * Author: Dillon Grove
 * 
 * This file is repsonsbile for importing all dependencies and providing main
 * styles. It is the only file ultimately included in the page
 *
 * ========================================================================== */

/* ========== IMPORTS ======================================================= */
@import "compass/reset";
@import "compass/css3";
@import "globals";
@import "animations";

@import "compass/utilities/general/clearfix";

/*---------- BASIC STYLES --------------------------------------------------- */

html {
    /* prevent webkit and ms mobile browsers from resizing text */
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;

    height: 100%;
}

body {
    font-family: "HelveticaNeue", Arial, Helvetica, sans-serif;
    height: 100%;
}

a:link {
    /* change the tap highlight color in webkit browsers */
    -webkit-tap-highlight-color: rgba(0,0,0,.2);
    text-decoration: none;
}

.standalone * {
    /* prevent press and hold context menus in standalone mode */
    -webkit-touch-callout: none;
}

#tab_bar, .top_bar {
    /* prevent users from copy/pasting tab bar text in webkit browsers */
    -webkit-user-select: none;
}

/*---------- HEADERS -------------------------------------------------------- */

h1 {
    color: white;
    font-size: 36px;
    margin-bottom: 22px;
}

h2 {
    color: #019bc6;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 12px;
}


/*---------- FORM ELEMENTS -------------------------------------------------- */

input[type=text], input[type=password], .button, button {
    display: block;
    width: 100%;
    @include box-sizing(border-box);
    -webkit-appearance: none; /* remove webkit default input styling */

    &:focus {
        /* overwrite webkit default input focus outline */
        outline: 2px solid $brandColor1;
        outline-offset: 1px;
    }
}

input[type=text], input[type=password], button, .button {
    @include border-radius(4px);
    padding: 12px;
    font-size: 14px;
    margin-bottom: 22px;
}

input[type=text], input[type=password] {
    @include box-shadow(inset 0px 2px 4px #000000);
    color: white;
    background-color: #222;
    border: 1px solid #444;
}

input[type=checkbox] {
    margin-bottom: 22px;
    margin-right: 10px;
}

label {
    color: #ccc;
    margin-bottom: 8px;
    width: 100%;
    display: block;
}

/* only target labels immediately following a checkbox input element */
input[type=checkbox] + label {
    width: auto;
    display: inline;
    position: relative;
    top: 2px;
}

form button, form .button {
    width: 100%;
}

/* Hide the geolocation checkbox by default (We will show it with js if 
 * geolocation is detected as available on the device)
 */
.geolocation_checkbox {
    display: none;
}

/*---------- BUTTONS -------------------------------------------------------- */

button, .button {
    border: none; /* overwrite webkit default button border */
    background-color: $brandColor1;
    color: white;

    &:active {
        background-color: darken($brandColor1, 5%);
    }

    &:focus {
        /* overwrite webkit default input focus outline */
        outline: 2px solid white;
        outline-offset: 0px;
    }

    &.button_create {
        background-color: $createButtonColor;

        &:active {
            background-color: darken($createButtonColor, 5%);
        }
    }
}

/*---------- TABLES --------------------------------------------------------- */

table {
    width: 100%;
    color: #ccc;
    @include border-radius(4px);
    overflow: hidden;
    margin-bottom: 22px;
}

tr {

    &:nth-child(odd){
        background-color: #555;
    }

    &:nth-child(even){
        background-color: #666;
    }
}

td {
    padding: 10px;
}

/*---------- TAB BAR -------------------------------------------------------- */

#tab_bar {
    @include box-sizing(border-box);
    height: $tabBarHeight;
    background: #222222;
    border-top: 1px solid #111111;

    position: fixed;
    bottom: -200px;
    left: 0;
    right: 0;
    zoom: 1; /* hasLayout fix */
    z-index: 9999; /* force above full height panels */

    @include transform(translate3d(0,0,0)); /* force hardware acceleration */
    @include transition(all .5s);

    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }

    &:after {
        clear: both;
    }

    &.tab_bar_show {
        bottom: 0;
    }

    li {
        display: inline;
        float: left;
        height: $tabBarHeight;
        width: 100%/$numTabs;
    }

    a {
        color: #bbbbbb;
        display: block;
        font-size: 11px;
        font-weight: bold;
        height: $tabBarHeight;
        overflow: hidden;
        padding-top: 6px;
        position: relative;
        text-align: center;
        text-decoration: none;

        border-right: 1px solid #333333;
        border-left: 1px solid #333333;
    }

    .icon {
        width: $tabBarIconWidth;
        height: $tabBarIconHeight;
        @include background(image-url("tab_bar_icons.png"));
        background-size: $tabBarIconWidth * 3 $tabBarIconHeight * 2;
        display: inline-block;
        margin: 5px 0 7px 0;
        pointer-events:none;

        &.profile_icon {
            background-position-x: 0px;
        }

        &.feed_icon {
            background-position-x: -$tabBarIconWidth*1;
        }

        &.new_post_icon {
            background-position-x: -$tabBarIconWidth*2;
        }
    }

    .tab_selected .icon {
        background-position-y: -$tabBarIconHeight*1
    }

    li:first-child a {
        border-left: none;
    }

    li:last-child a {
        border-right: none;
    }

    .tab_selected a {
        color: #ffffff;
        background: #111111;
    }
}

/*---------- PANELS --------------------------------------------------------- */

#panels {
    height: 100%;
    position: relative;

    /* prevent momentary scrollbar when using sliding transition */
    overflow-x: hidden;
}

#panels > div.current {
    display: block;
}

.panel_wrapper {
    @include box-sizing(border-box);
    display: none;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    background-color: #333;
}

.padded_content_wrapper, .content_wrapper {
    margin-top: $topBarHeight;
    padding-bottom: $tabBarHeight;
}

.padded_content_wrapper {
    padding: 20px; 
    padding-bottom: $tabBarHeight + 20px;
}

/*---------- PANEL-SPECIFIC STYLES ------------------------------------------ */
#login_panel {
    text-align: center;

    .app_logo {
        width: $appLogoWidth;
        height: $appLogoHeight;
        @include background(image-url("app_logo.png"));
        background-size: 100%;
        margin-bottom: 24px;
        display: inline-block;
    }
}

#profile_panel {
    .link_posts {
        @include border-radius(4px);
        overflow: hidden;
        margin-bottom: 22px;
    }
}

/*---------- TOP BAR -------------------------------------------------------- */

.top_bar {
    height: $topBarHeight;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    background: #222222;
    color: white;

    h1 {
        float: left;
        padding: 13px;
        font-size: 16px;
        font-weight: bold;
    }

    .back {
        float: left;
        display: none;
        color: white;

        span {
            margin-left: 6px;
            padding: 4px 8px;
            border: 1px solid white;
            line-height: $topBarHeight;
            @include border-radius(2px);
        }
    }

}

.back {

    &.hasBack {
        display: block;
    }

    .chevron {
        width: 15px;
        height: 24px;
        position: absolute;
        left: 10px; 
        top: 50%;
        margin-top: -12px;

        background-position: bottom left;
        background-size: 30px;
    }
}

/*---------- LINK POSTS ----------------------------------------------------- */
.link_post {
    background-color: white;
    padding: 4px;
    border-bottom: 1px solid #eeeeee;
    overflow: hidden; /* clearfix */
}

.scoring {
    width: 20%;
    min-width: 60px;
    float: left;
    text-align: center;

    div {
        text-align: center;
    }

    .upvote, .downvote {
        display: inline-block;
        width: 20px;
        height: 20px;
        @include background(image-url("arrows.png"));
        background-size: 40px 40px;
    }

    .downvote {
        background-position: 0px 20px;
    }

    .score {
        padding: 2px 0px 4px 0px;
        font-weight: 600;
        color: #999;
    }
}

.link_post.upvoted {
    .upvote {
        background-position: 20px 0px;
    }

    .score {
        color: $brandColor1;
    }
}

.link_post.downvoted {
    .downvote {
        background-position: 20px 20px;
    }

    .score {
        color: $notifBadColor;
    }
}

.post_content {
    padding: 4px;
    
    h2 {
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 0px;
        font-weight: normal;
    }

    .post_domain {
        color: #666;
    }

    .post_info {
        font-size: 12px;
        color: #aaa;
    }
}


/*---------- NOTIFICATIONS -------------------------------------------------- */

.notif {
    position: fixed;
    top: -60px;
    left: 0;
    right: 0;
    z-index: 9999;
    padding: 10px 14px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    line-height: 1.3;

    /* force hardware acceleration */
    @include transform(translateZ(0));

    @include transition(all .5s);

    &.notif_good {
        background: $notifGoodColor;
    }

    &.notif_bad {
        background: $notifBadColor;
    }

    &.show_notif {
        top: 0px;
    }
}

/*---------- SPINNER -------------------------------------------------------- */

.spinner {
    position: absolute;
    display: none;
    top: 5px;
    right: 5px;
    width: 32px;
    height: 32px;
    @include background(image-url("spinner.gif"));
    background-size: 100%;
}

/*---------- DISCONNECTED --------------------------------------------------- */

.disconnected {
    position: absolute;
    display: none;
    top: 12px;
    right: 12px;
    background-color: #666;
    padding: 4px 6px;
    @include border-radius(4px);
    color: #aaa;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    @include transition(all .05s);
    z-index: 9998; /* force above panels (but not notifications) */

    &.pop {
        background-color: $notifBadColor;
        color: white;
    }
}